In [ ]:
import pandas as pd

In [ ]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

In [ ]:
obj[0]

In [ ]:
obj.values

In [ ]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

In [ ]:
obj2["b"]

In [ ]:
obj2.index

In [ ]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

In [ ]:
names["Tim"]

In [ ]:
names[names>=85]

In [ ]:
names["Tom"]=60
names

In [ ]:
names[names<=80]=83
names

In [ ]:
"Tom" in names

In [ ]:
"Can" in names

In [ ]:
names/10

In [ ]:
names**2

In [ ]:
names.isnull()