In [2]:
import pandas as pd #import library

In [3]:
games=pd.read_csv("Datasets/vgsalesGlobale.csv") #read the data

In [4]:
games.head() #show the data 5 rows

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
games.dtypes #show data type of each columns

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [6]:
games.Genre.describe() #show describe of data

count      16598
unique        12
top       Action
freq        3316
Name: Genre, dtype: object

In [7]:
games.Genre.value_counts() #count the data each columns

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [8]:
games.Genre.value_counts(normalize=True) #normalization

Action          0.199783
Sports          0.141342
Misc            0.104772
Role-Playing    0.089649
Shooter         0.078925
Adventure       0.077479
Racing          0.075250
Platform        0.053380
Simulation      0.052235
Fighting        0.051090
Strategy        0.041029
Puzzle          0.035064
Name: Genre, dtype: float64

In [9]:
type(games.Genre.value_counts()) #check type

pandas.core.series.Series

In [10]:
games.Genre.value_counts().head() #show top 5 genre

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: Genre, dtype: int64

In [11]:
games.Genre.unique() #show value in Genre column

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [12]:
games.Genre.nunique()

12

In [13]:
games.Global_Sales.describe()

count    16598.000000
mean         0.537441
std          1.555028
min          0.010000
25%          0.060000
50%          0.170000
75%          0.470000
max         82.740000
Name: Global_Sales, dtype: float64

In [14]:
games.Global_Sales.mean()

0.5374406555006628

In [15]:
games.Global_Sales.value_counts()

0.02     1071
0.03      811
0.04      645
0.05      632
0.01      618
         ...
11.02       1
6.73        1
3.59        1
6.81        1
15.85       1
Name: Global_Sales, Length: 623, dtype: int64